@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  color: #27272a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .custom-input {
    @apply input-sm input max-w-60 text-zinc-600 input-bordered text-xs p-4 bg-zinc-100 focus:outline-primary focus:border-zinc-100;
  }
  .custom-textarea {
    @apply textarea textarea-bordered resize-none text-xs bg-zinc-100 focus:outline-primary focus:border-primary focus:border-zinc-100;
  }
  .primary-text {
    @apply text-xs text-zinc-500;
  }
  .highligth-text {
    @apply text-xs text-zinc-600 font-semibold;
  }
}
